* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
    background-color: #fff;
    color: #555;
}

.page_header {
    height: 177px;
    margin-left: 0;
    margin-right: 0;
    min-width: 900px;
    font-size: 0.8em;
    background-color: darkslateblue;
}

.container {
    margin: 0 auto;
    width: 320px;
}

.logo {
    width: 880px;
    padding-bottom: 40px;
}

.title {
    font-family: 'century gothic', Arial, sans-serif;
    font-weight: normal;
    color: #000000;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

.title--logo,
.title--subtitle {
    font: normal 300% 'century gothic', Arial, sans-serif;
    margin: 0 0 0 9px;
}

.title--logo,
.logo_link,
.logo_link:hover {
    padding: 22px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.title--subtitle {
    font-size: 0.9em;
    padding: 4px 0 0 0;
    color: #999;
}

.title--posts {
    font-size: 140%;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

.title--movie {
    color: #000000;
    font-size: 140%;
}

.menubar {
    width: 900px;
    height: 46px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_item {
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
}

.menu_link {
    display: block;
    padding: 6px 35px 5px 28px;
    color: #fff;
    font: normal 100% 'trebuchet ms', sans-serif;
    text-decoration: none;
}

.selected .menu_link {
    color: #aeb002;
}

.menu_link:hover {
    color: #e4ec04;
}

.link {
    outline: none;
    text-decoration: none;
    color: #aeb002;
    cursor: pointer;
}

.link--sidebar {
    text-decoration: underline;
}

.site_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: #fff;
}

.sidebar_container {
    width: 246px;
}

.sidebar {
    width: 246px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.title--sidebar {
    font-size: 140%;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #136cb2;
}

.sidebar_input {
    color: #5d5d5d;
    width: 60%;
    padding: 8px;
    outline: none;
    border: none;
    border: 1px solid #f2f2f2;
}

.btn {
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

.sidebar_lables {
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%;
}

.sidebar_news {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

.sidebar_raining {
    margin: 2px 0 22px 17px;
}

.sidebar_raiting-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
}

.content {
    text-align: left;
    width: 625px;
    padding: 0 0 0 5px;
}

.content_title {
    font: normal 170% 'century gothic', Arial, sans-serif;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;

}

.content_films {
    margin-bottom: 5%;
}

.content_img,
.movie_img,
.film_img {
    width: 23.805%;
    border: 5px solid #dad7d5;
    border-radius: 5px;
}

.content_serials {
    margin-bottom: 5%;
}

.posts {
    padding-bottom: 20px;
}

.hr {
    border: 1px solid #f3f3f3;
}



.posts_link {
    text-decoration: none;
}

.posts_text {
    font-size: 0.8em;
    line-height: 1.7em;
    padding: 0 0 20px 0;
}

.movie_info {
    margin-top: 2%;
    margin-bottom: 4%;
}

.movie_specification {
    font-size: 1.2em;
}

.movie_specification-value {
    font-size: 1em;
    color: #49945a;
    margin-right: 3%;
}

.movie_description {
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
}

.movie_img {
    margin-right: 2%;
    width: 160px;
    height: 210px;
}

.reviews {
    margin-bottom: 4%;
    font-size: 0.9em;
}

.reviews-item {
    padding-bottom: 2%;
}

.review_name {
    background-color: #7268AD;
    color: white;
    padding: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.review_text {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.send {
    margin-bottom: 4%;
}

.send input[type="text"],
.send input[type="email"],
.send textarea {
    border: 1px solid #c3c3c3;
    margin-bottom: 2%;
    width: 98%;
    padding: 2%;
}

.send textarea {
    height: 200px;
}

.btn--send {
    background-color: #7268AD;
    padding: 3%;
    color: white;
    border-radius: 5px;
}

.contacts_offer {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

.film {
    position: relative;
    margin-bottom: 5%;
    background-color: #f9f9f9;
    padding: 5%;
    text-align: right;
    min-height: 330px;
}

.film_img {
    float: left;
    margin-right: 2%;
    width: 27%;
}

.film_description {
    margin-bottom: 10%;
    text-align: left;
}

.btn--film {
    display: inline-block;
    background-color: #7268AD;
    padding: 11px;
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
    text-decoration: none;
}

.film_link {
    position: absolute;
    bottom: 30px;
    right: 5%;
}

.raiting_table {
    width: 100%;
    border: solid 1px #f4f4f4;
    text-align: center;
}

.raiting_img {
    width: 60px;
    vertical-align: middle;
}

.raiting_data {
    padding: 2%;
    border: solid 1px #f4f4f4;
}

.raiting_film {
    text-align: left;
}

.raiting_num {
    font-weight: bold;
}



.footer {
    width: 100%;
    height: 133px;
    padding: 28px 0 5px 0;
    text-align: center;
    background-color: darkslateblue;
    color: #a8aa94;
    min-width: 900px;
}

.footer_menu,
.footer_copyright {
    padding: 0 0 10px 0;
    line-height: 1.7em;
}

.footer_link {
    color: #a8aa94;
    text-decoration: none;
}

.footer_link:hover {
    color: #fff;
}

/* css mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 567px) {
    .header {
        background-color: #257965;
        min-width: 100%;
        height: 20%;
    }

    .logo {
        width: 100%;
    }

    .title--logo {
        font-size: 200%;
        margin-left: 16%;
    }

    .title--subtitle {
        font-size: 100%;
        margin-left: 16.5%;
        color: #ffffff;
    }

    .site_content {
        width: 100%;
        text-align: center;
    }

    .menubar {
        width: 100%;
        height: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu_item {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #999999;
    }

    .menu_link {
        display: inline-block;
    }

    .sidebar_container {
        display: none;
    }

    .content {
        padding-left: 5%;
        padding-right: 5%;
    }

    .content_films,
    .content_serials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .content_title {
        font-size: 110%;
        padding-left: 5%;
    }

    .content_link {
        display: inline-flex;
        flex-basis: 43%;
        margin-bottom: 5%;
    }

    .content_img {
        flex-shrink: 0;
        flex-grow: 1;
        min-width: 50%;
    }

    .content_posts {
        font-size: 120%;
    }

    .posts_link {
        display: block;
        font-size: 79%;
        padding-left: 5%;
    }

    .posts_text {
        line-height: 1.5em;
    }

    .link--read {
        font-size: 80%;
    }


    .footer {
        display: none;
    }

    /* film page */
    .film_description {
        font-size: 80%;
        line-height: 1.5;
        margin-bottom: 20%;
    }

    .film_img {
        min-width: 30%;
        margin-right: 5%;
    }

    .film_link {
        bottom: 16px;
    }

    /* raiting page */
    .raiting_table {
        font-size: 75%;
    }

    .raiting_data {
        padding: 0;
        margin: 0;
        min-width: 45px;
    }

    /* contacts page*/
    .contacts_offer {
        font-size: 75%;
        line-height: 1.5;
    }

    .send input[type="text"],
    .send input[type="email"],
    .send textarea {
        width: 100%;
    }
}

/* css ipad */
@media only screen and (min-device-width: 568px) and (max-device-width: 1024px) {
    .header {
        min-width: 100%;
    }

    .logo {
        width: 100%;
    }

    .menubar {
        width: 100%;
    }

    .site_content {
        flex-direction: column;
        width: 100%;
    }

    .sidebar_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
        justify-content: space-around;
    }

    .sidebar {
        padding: 0;
        padding-left: 3%;
        padding-right: 3%;
    }

    .content {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .content_films,
    .content_serials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .content_title {
        font-size: 110%;
        padding-left: 5%;
    }

    .content_link {
        display: inline-flex;
        flex-basis: 43%;
        margin-bottom: 5%;
    }

    .content_img {
        flex-shrink: 0;
        flex-grow: 1;
        min-width: 50%;
    }

    .content_posts {
        font-size: 120%;
    }

    .posts_link {
        display: block;
        font-size: 79%;
        padding-left: 5%;
    }

    .posts_text {
        line-height: 1.5em;
    }

    .link--read {
        font-size: 80%;
    }

    .footer {
        min-width: 100%;
    }
} */