* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: darkslateblue;
    height: 177px;
    font-size: 0.8em;
    margin-left: 0;
    margin-right: 0;
    min-width: 900px;
}

.main,
.logo,
.menubar,
.site_content,
.footer {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 880px;
    padding-bottom: 40px;
}

.logo_title,
.logo_subtitle {
    font: normal 300% 'century gothic', Arial, sans-serif;
    margin: 0 0 0 9px;
}

.logo_title,
.logo_link,
.logo_link:hover {
    padding: 22px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.logo_subtitle {
    font-size: 0.9em;
    padding: 4px 0 0 0;
    color: #999;
}

.menubar {
    width: 900px;
    height: 46px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_item {
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
}

.menu_link {
    display: block;
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: #fff;
    font: normal 100% 'trebuchet ms', sans-serif;
    text-decoration: none;
}

.selected .menu_link {
    color: #aeb002;
}

.menu_link:hover {
    color: #e4ec04;
}

.site_content {
    display: flex;
    justify-content: flex-end;
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: #fff;
}

.sidebar_container {
    width: 224px;
}

.sidebar {
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.sidebar_title {
    font: normal 170% 'century gothic', Arial, sans-serif;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
    color: #136cb2;
}

.sidebar_input {
    color: #5d5d5d;
    width: 60%;
    padding: 8px;
    outline: none;
    border: none;
    border: 1px solid #f2f2f2;
}

.btn {
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

.sidebar_lables {
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 2%;
}

.sidebar_link {
    outline: none;
    text-decoration: underline;
    color: #aeb002;
}